    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        border: none;
        outline: none;
        list-style: none;
        cursor: pointer;
        scroll-behavior: smooth;
    }
    
     :root {
        --bg-color: #1f242d;
        --second-bg-color: #323946;
        --text-color: #fff;
        --main-color: #0ef;
        /* --second-bg-color: #7c7a78; */
    }
    
    html {
        font-size: 62.5%;
        overflow-x: hidden;
    }
    
    section {
        min-height: 100vh;
        padding: 10rem 9%;
    }
    
    body {
        background: var(--bg-color);
        color: var(--text-color);
    }
    
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 9%;
        background: var(--bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    
    .boxxx {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .header.sticky {
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
    }
    
    .logo {
        font-size: 4rem;
        color: var(--text-color);
        font-weight: 600;
        cursor: default;
    }
    
    .navbar a {
        font-size: 2rem;
        color: var(--text-color);
        margin-left: 4rem;
        transition: .3s;
    }
    
    .navbar a:hover,
    .navbar a.active {
        color: var(--main-color);
    }
    
    #menu-icon {
        font-size: 3.6rem;
        color: var(--text-color);
        display: none;
    }
    
    .home {
        display: flex;
        justify-content: center;
        gap: 15rem;
        align-items: center;
    }
    
    .home-content h3 {
        font-size: 3.2rem;
        font-weight: 700;
    }
    
    .home-content h3:nth-of-type(2) {
        margin-bottom: 2rem;
    }
    
    span {
        color: #0ef;
        font-size: 45px;
    }
    
    .spann {
        color: #0ef;
        font-size: 25px;
    }
    
    .home-content h1 {
        font-size: 5.6rem;
        font-weight: 700;
        line-height: 1.3;
    }
    
    .home__img img {
        width: 30vw;
        border-radius: 50%;
        background: var(--main-color);
        padding: 1.5rem;
        color: var(--second-bg-color);
        box-shadow: 0 0 2rem var(--main-color);
        transition: .5s ease;
        transition: background .5s transform 0, 5s;
        animation: floatImage 4s ease-in-out infinite;
    }
    
    @keyframes floatImage {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-25px);
        }
        100% {
            transform: translateY(0px);
        }
    }
    
    .home__img img:hover {
        background: var(--main-color);
        /* color: var(--second-bg-color); */
        box-shadow: 0 0 7rem var(--main-color);
        transform: translateY(-7px);
    }
    
    .home-content p {
        font-size: 1.7rem;
    }
    
    .social-media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        background: transparent;
        border: .2rem solid var(--main-color);
        border-radius: 50%;
        font-size: 2rem;
        color: var(--main-color);
        margin: 3rem 1.5rem 3rem 0;
        transition: .5s ease;
        transition: background .5s transform 0, 5s;
    }
    
    .social-media a:hover {
        /* background: var(--main-color);
        color: var(--second-bg-color); */
        box-shadow: 0 0 1rem var(--main-color);
        transform: translateY(-7px);
    }
    
    .btn {
        display: inline-block;
        padding: 1rem 2.8rem;
        background: var(--main-color);
        border-radius: 4rem;
        box-shadow: 0 0 1rem var(--main-color);
        font-size: 1.6rem;
        color: var(--second-bg-color);
        letter-spacing: .1rem;
        font-weight: 600;
        transition: .5s ease;
    }
    
    .btn:hover {
        box-shadow: none;
    }
    
    .contactbox {
        display: flex;
        gap: 1rem;
        font-weight: 600;
        font-size: 25px;
        margin-bottom: 40px;
    }
    
    .con {
        color: #0ef;
        display: flex;
        align-items: center;
        font-size: 25px;
    }
    
    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8rem;
        background: var(--second-bg-color);
    }
    
    .about-img img {
        width: 35vw;
        border-radius: 2%;
    }
    
    .heading {
        text-align: center;
        font-size: 4.5rem;
    }
    
    .about-content h2 {
        text-align: left;
        line-height: 1.2;
    }
    
    .about-content h3 {
        font-size: 2.6rem;
        padding-top: 25px;
    }
    
    .about-content p {
        font-size: 1.6rem;
        margin: 2rem 0 3rem;
    }
    
    .spaninside {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    
    .icon-list {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 17px;
        color: #0ef;
        margin-bottom: 50px;
    }
    
    .icon-list li i {
        display: inline-block;
        color: #0ef;
        margin-top: 20px;
        cursor: pointer;
    }
    
    .work-list {
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        align-items: center;
        gap: 40px;
        margin-top: 70px;
    }
    
    .work img {
        width: 100%;
        border-radius: 10px;
        display: block;
        transition: transform .5s ease;
    }
    
    .work {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .layer {
        width: 100%;
        height: 0%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), #0ef);
        border-radius: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        transition: height .5s ease;
    }
    
    .layer h3 {
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .layer a {
        margin-top: 20px;
        color: #0ef;
        font-size: 22px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    
    .work:hover img {
        transform: scale(1.1);
    }
    
    .work:hover .layer {
        height: 100%;
    }
    
    .contact h2 {
        margin-bottom: 8rem;
    }
    
    .contact form {
        max-width: 70rem;
        margin: 1rem auto;
        margin-bottom: 3rem;
    }
    
    .contact form .input-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .contact form .input-box input,
    .contact form textarea {
        width: 100%;
        padding: 1.5rem;
        font-size: 1.6rem;
        color: var(--text-color);
        background: var(--second-bg-color);
        border-radius: .8rem;
        margin: .7rem 0;
    }
    
    .contact form .input-box input {
        width: 49%;
    }
    
    .contact form textarea {
        resize: none;
    }
    
    .contact form .btn {
        margin-top: 2rem;
        cursor: pointer;
    }
    
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--second-bg-color);
        padding: 2rem 9%;
    }
    
    .footer-iconTop a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: .8rem;
        background: var(--main-color);
        border-radius: .8rem;
        transition: .5s ease;
    }
    
    .footer-iconTop a i {
        font-size: 2.4rem;
        color: var(--second-bg-color);
    }
    
    .footer-iconTop a:hover {
        box-shadow: 0 0 1rem var(--main-color);
    }
    
    .sub.heading {
        color: #0ef;
        font-size: 50px;
        font-weight: 700;
        /* margin-left: 620px; */
        margin-bottom: 50px;
    }
    
    .sub-para {
        color: #fff;
        font-size: 15px;
        margin-bottom: 100px;
        padding-top: 50px;
    }
    
    #skills .skill-row {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    
    #skills .skill-row.skill-box.skill-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4px;
    }
    
    .skill-info h2 {
        color: #fff;
        font-weight: 700;
        font-size: 23px;
    }
    
    .skill-info h1 {
        color: #0ef;
        font-size: 20px;
    }
    
    .skill-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .skill-box .skill-outter-line {
        /* width: 80%; */
        height: 10px;
        background-color: #0ef;
        border-radius: 15px;
    }
    
    .skill-info {
        margin-bottom: 7px;
    }
    
    .skill-box .skill-outter-line .skill-inner-line {
        height: 10px;
        background-color: #0ef;
        border-radius: 20px;
        margin: auto;
    }
    /* //-------------------------------------------------- */
    
    @media (max-width: 1200px) {
        html {
            font-size: 55%;
        }
    }
    
    @media (max-width: 991px) {
        .header {
            padding: 2rem 3%;
        }
        section {
            padding: 10rem 3% 2rem;
        }
        .portfolio {
            padding-bottom: 7rem;
        }
        .contact {
            min-height: auto;
        }
        .footer {
            padding: 2rem 3%;
        }
    }
    
    @media (max-width: 768px) {
        #menu-icon {
            display: block;
        }
        .navbar {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 0rem 3%;
            background: var(--bg-color);
            border-top: .1rem solid rgba(0, 0, 0, .2);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
            display: none;
        }
        .navbar.active {
            display: block;
        }
        .navbar a {
            display: block;
            font-size: 2rem;
            margin: 3rem 0;
        }
        .home {
            flex-direction: column;
        }
        .home-content h3 {
            font-size: 2.6rem;
        }
        .home-content h1 {
            font-size: 5rem;
        }
        .home-content p {
            font-size: 1.5rem;
        }
        .home-img img {
            width: 70vw;
            margin-top: 4rem;
        }
        .about {
            flex-direction: column-reverse;
        }
        .about img {
            width: 55vw;
            margin-top: 4rem;
        }
        .portfolio h2 {
            margin-bottom: 3rem;
        }
        .portfolio-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (max-width: 617px) {
        .work-list {
            grid-template-columns: 1fr;
        }
        .work img {
            width: 80%;
            display: block;
            margin: auto;
        }
    }
    
    @media (max-width: 470px) {
        .about-img img {
            width: 70%;
            display: block;
            margin: auto;
        }
    }
    
    @media (max-width: 400px) {
        .contact form .input-box input {
            width: 100%;
        }
        .about h2 {
            text-align: center;
            margin-bottom: 5px;
        }
    }
    
    @media (max-width: 350px) {
        .home-img img {
            width: 80%;
        }
        .home-content h3 {
            font-size: 25px;
        }
        .home-content h1 {
            font-size: 28px;
        }
        .home-content p {
            font-size: 13px;
        }
        .home .btn {
            font-size: 10px;
        }
        .contact h2 {
            font-size: 30px;
        }
        .portfolio h2 {
            font-size: 30px;
        }
        .about h2 {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
    
    @media (max-width: 500px) {
        .home__img img {
            display: none;
        }
    }